h1 {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
}

a{
  color: #252a34;
  padding: 10px;
  text-decoration: none;
}

a:hover{
  color: #ff2e63;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  position: relative;
  min-height: 100vh;
}

p {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

img {
  border-radius: 5px 5px 0 0;
  height: 50%;
}

.left-nav{
  display: inline;
  margin-left: 100px;
}

.right-nav{
  display: inline;
  margin-right: 100px;
  position: absolute;
  right: 0;
}

.navbar{
  width: 50%;
  margin-top: 20px;
}

.hero{
  display: inline-block;
  width: 50%;
  margin: 100px 25% auto 25%;
}

.subtitle{
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.highlight{
  color: #ff2e63;
  padding: 0;
  text-decoration: underline;
}

.footer {
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all ease 0.5s;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  top: 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  top: -10px;
}

.container {
  padding: 2px auto;
}

.mini-text{
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
}
